option_settings:
  - option_name: DATABASE_URI
    value: ####

  - option_name: PROJECT_ID
    value: ic-dating
  - option_name: CLIENT_EMAIL
    value: firebase-adminsdk-o64e4@ic-dating.iam.gserviceaccount.com
  - option_name: PRIVATE_KEY
    value: ####
  - option_name: DATABASE_URL
    value: ic-dating.firebaseio.com

  - option_name: FIREBASE_API_KEY
    value: ####
  - option_name: AUTH_DOMAIN
    value: ic-dating.firebaseapp.com
  - option_name: STORAGE_BUCKET
    value: ic-dating.appspot.com
  - option_name: MESSAGING_SENDER_ID
    value: 301317093513

